body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
label{
  font-size: 16px !important;
  color: black !important;
}
.primary-button{


  color: white;
  font-size: 18px !important;
  width: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
height: 42px;
padding: 14px 28px 14px 28px;
border-radius: 45px;
gap: 10px;

}
.anchor{
  color: rgb(65, 63, 63) !important;
  text-decoration: none !important;
}
.authentication .card-title{
font-weight: bold;
display: flex;
padding: 7px 15px;
justify-content: center;
color: #425466 !important;
font-family: 'Assistant';
font-size: 30px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0px;
text-align: center;


}

.icon{
  position: relative;
}
.forgot-pass{
  font-family: 'Assistant';
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
margin-top: 10px;
display: flex;
color: black !important;
text-decoration: underline;
width: 340px;
justify-content: right;
}
.card-sub-title{
font-family: 'Assistant';
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color :#718096;
}
.anchor:hover{
  text-decoration: underline !important;
  color: black !important;
}
.ant-form-item{
margin: 10px 0 !important;

}
input{
  border-radius: 2px !important;
  border: 1px solid rgba(128, 128, 128, 0.322) !important;
  height: 40px !important;
  

}
input:focus{
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}
.ant-btn-primary{
  background-color: red !important;
}
.spinner-border{
  width: 5rem;
  height: 5rem;
  color: white !important;
}
.card{
  box-shadow: 0 0 2px gray;

}
.spinner-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.329);
  position: fixed;
  top:0;
  height: 100%;
  width: 100%;
  left:0;
  z-index: 999;
}

/*auth pages */
.authentication{
  
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: cover;
z-index: 1;
  background-image :linear-gradient(180deg, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.32) 100%),url("pages/welcomebg.png");
}
.form-login{
  width: 414px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  align-self: center;
}
.login-input{
  text-align: right;
  display: flex;
  width: 350px !important;

}.login-input label{
  display: flex;
  color: #4F535C !important;
  font-family: 'Assistant';
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  justify-content: right !important;
  letter-spacing: 0em !important;
  margin-left: 10px !important;
  width: 360px !important;
}
.logo-login{
  width: 200px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.register-form{
  width: 650px;
  height: 450px;
border-radius: 10px;
box-shadow: 0px 10px 20px 0px #C2C2C229 !important;

box-shadow: 0px 0px 30px 0px #AAAAAA29 !important;



}

@media (max-width:750px){
  .register-form{
    width: 100vw;
    height: 80vh;

    position: absolute;
    bottom: 0;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px #C2C2C229 !important;
  
  box-shadow: 0px 0px 30px 0px #AAAAAA29 !important;
  
  
  
  }
  .card-title{
    margin-top: 30px;

  }
  .card-sub-title{
    font-family: 'Assistant';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    align-self: center;
    width: 80%;

    display: flex;
    justify-content: center;
    color :#718096;
    }
    .form-login{
      width: 300px !important;
      margin-top: 50px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  align-self: center !important;
  flex-wrap: wrap !important;


    }.login-input{
      text-align: right;
      display: flex;
      flex-flow: column !important;
      width: 300px !important;
      text-wrap: wrap;
    }
    
    
.logo-login{
  width: 200px;
  margin-bottom: 20px;
  margin-top: 0px;
  position: absolute;
  top: 30px;

}
.primary-button{

  

  color: white;
  font-size: 18px !important;
  width: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
height: 42px;
margin-top: 40px !important;
padding: 14px 28px 14px 28px;
border-radius: 45px;
gap: 10px;

}
.forgot-pass{
  font-family: 'Assistant';
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
margin-top: 10px;
display: flex;
text-decoration: underline !important;
color: black !important;
width: 300px;
justify-content: right;
}

.authentication{
  
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: contain;
z-index: 1;


  background:  linear-gradient(180deg, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.32) 100%),url("pages/180.png");
}
}
.forgot{
  width: 350px;
  font-family: 'Assistant';
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: right;
align-items: right !important;
color: #425466;
display: flex !important;
justify-content: right !important;

}

.add-user-form{
margin: 0px 20px; 
 display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  width: 95%;
}
.login-btn2 {
  color: white !important;
  background: #679448 !important;
margin-top: 20px;
padding: 14px 28px 14px 28px !important;
border-radius: 45px;
gap: 10px;
width: 200px !important;
height: 21px !important;
}
.add-user-title{
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin:20px;
}
.add-user-btn{
  display: flex !important;
  justify-content: right !important;
  margin-top: 20px;
}
.add-user-item{
  display: flex;
  text-align: center !important;
}

.add-user-input{
  text-align: right;

 
}
.add-user-input::placeholder{
  text-align: right;
}
.add-user-input{
  text-align: right;
}
label{
  display: flex;
  justify-content: right;
}