.main{
    padding: 20px;
    height: 100vh;
}
.sidebar{
    background-color: #005555;
    border-radius: 5px;
    display: flex;
    box-shadow:  0 0 2px gray;
    min-height: 10%;
    justify-content: center;
    align-items: center;
   
    padding: 10px;
    width: 100%;
}
.sidebar-collapsed{
    background-color: #005555;
    border-radius: 5px;
    box-shadow:  0 0 2px gray;
    margin-right: 20px;
    min-height: 100%;
    padding: 10px;
}
.menu{
    padding: 0 20px;
    display: flex;
    gap:10vw;
}
.menu-item{
    margin: 1vh 0vw 1vh 0vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}.menu-item a{
color:white ;
font-size: 18px;
text-decoration: none;
padding: 0 10px;
}.menu-item i{
color:white ;
font-size: 18px;
text-decoration: none;
margin:0 2vw;
   
}
.buy{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left:0;

right: 0;
    position: fixed;
    background-color: rgb(235, 118, 23);
    width: 100vw;
    height: 10vh;
    color: white;
}
.active-menu-item{
    color: white;
    background-color: #003333;
    padding: 5px;
    border-radius: 5px;
}
.remix-icon{
    font-size: 18px ;
}
.header-action-icon{
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-left: 10px;
}

.header{
    background-color: white;
    border-radius: 5px;
    box-shadow:  0 0 2px gray;
    margin-bottom: 20px;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.content{
    width: 100%;
    height: 100%;


}
.body{
    background-color: white;
    border-radius: 5px;
    box-shadow:  0 0 2px gray;
    height: 82vh;
    width: 100%;
overflow-x:hidden
;overflow-y:scroll ;   

    
}
