.welcome-image{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
z-index: 1;
    background-image: url("pages/welcomebg.png");
}
.welcome-container{
    width: 100vw;
    height: 100vh;
    min-width: 1050px;
}
.btns{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 60px;
 font-weight: 700;
    font-family: 'Assistant' !important;

}

.welcome-card{
    z-index: 2;
    background-color: rgb(255, 255, 255);
    width: 77%;
    justify-content: center;
  margin: 0 auto;
  top:90px;
    position: relative;
    box-shadow: 0px 10px 20px 0px #C2C2C229;

    border-radius: 10px;
}
.welcome-card-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Assistant';
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px 0px #C2C2C229;
}
.welcome-menu{
    display: flex;
    gap:20px;
    font-size: 14px;
    font-weight: 700;
    align-content: center;
    justify-content: center;

}
.logo{
    position: relative;
    z-index: 2;
    width: 17.6vw;
    display: flex;
    margin: 0 auto;
    top:8vh;
       

    
}
.login-btn{
    border-radius: 45px;
    border: 1.5px solid #679448;
    width: 170px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 7vh;
    font-family: 'Assistant' !important;
    font-size: 14px;
    font-weight: 700;
line-height: 14px;
letter-spacing: 0em;
text-align: left;




}
.login-btn:hover{
    background: #679448 !important;
    color: white !important;
    border: 1.5px solid #679448 !important;


}
.text-welcome{
   
font-family: 'Assistant';
font-size: 40px;
justify-content: center;
display: flex;
margin: 0 auto;
font-weight: 800;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
color: #515151;

}
.text2-welcome{
    font-family: 'Assistant' !important;
    font-size: 28px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 auto;
    display: flex;
    text-align: left;
    justify-content: center;

    color: #646464;

    }
    .text3-welcome{
        font-family: 'Assistant' !important;
        font-size: 34px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0em;
        margin: 0 auto;
        display: flex;
        text-align: left;
        justify-content: center;
    
        color: #646464;
       
    
        }
        .text4-welcome{
            font-family: 'Assistant' !important;
            font-size: 20px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: 0em;
            margin: 0 auto;
            display: flex;
            text-align: left;
            justify-content: center;
        
            color: #646464;
           
            
            
        
            }       .text5-welcome{
                font-family: 'Assistant';
                font-size: 22px;
                font-weight: 500;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: center;
                color: #363636;

                
                
            
                }
                .text6-welcome{
                    font-family: 'Assistant' !important;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #6D6D6D;

                    
                    
                    
                
                    }
        .event1{
            width: 100px;
            height: 100px;
        }
    

    .texting{
        margin-top: 10vh;
        margin-bottom: 3vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .texting2{

        margin-top: 30vh;
        margin-bottom: 3vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .texting3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px 40px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    }
    .firstevent{
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 236px;
        height: 251px;
        flex-basis: 25%;

    }
    .menubtn{
       
padding: 7px;
border-radius: 45px;
color: #4F7336;
padding: 10px 15px 10px 15px;


    }
    .menubtn:hover{
        background-color: #679448;
       
        padding: 10px 15px 10px 15px;
        border-radius: 45px;
color: white;


    }
    @media (max-width:750px){
        .welcome-image{
            height: 100vh;
            width: 100vw;
            position: absolute;
            background-size: cover;
        z-index: 1;
            background-image: url("pages/welcomebg.png");
        }
        .welcome-container{
            width: 100vw;
            height: 100vh;
       
                 }
        .btns{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            flex-direction:column ;
            margin-top: 10px;
         font-weight: 700;
            font-family: 'Assistant' !important;
        
        }
        
        .welcome-card{
            z-index: 2;
    background-color: rgb(255, 255, 255);
    width: 86%;
    
right: 6%;
top:20%;
left: 6%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  
  flex-direction: column;
  align-items: center;
    position: absolute;
    box-shadow: 0px 10px 20px 0px #C2C2C229;

    border-radius: 10px;
        }
        .welcome-card-header{
        display: none;
        }
        .welcome-menu{
            display: none;
           
        
        }
        .logo{
            position: absolute;
            z-index: 2;
            width: 150px;
            display: flex;
            left: 10%;
            right: 10%;
            top:0;
            top:8vh;
               
        
            
        }
        .login-btn{
            border-radius: 45px;
            border: 1.5px solid #679448;
            width: 170px;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 7vh;
            font-family: 'Assistant' !important;
            font-size: 14px;
            font-weight: 700;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        
        
        
        
        }
        .login-btn:hover{
            background: #679448 !important;
            color: white !important;
            border: 1.5px solid #679448 !important;
        
        
        }
        .text-welcome{
           text-align: center;
        font-family: 'Assistant';
        font-size: 30px;
        justify-content: center;
        display: flex;
        margin: 0 auto;
        font-weight: 800;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
        color: #515151;
        text-align: center;
        }
        .text2-welcome{
            text-align: center;

            font-family: 'Assistant' !important;
            font-size: 22px;
            font-weight: 700;
            line-height: 31px;
            letter-spacing: 0em;
            margin: 0 auto;
            display: flex;
            text-align: center;
            justify-content: center;
        
            color: #646464;
        
            }
            .text3-welcome{
                font-family: 'Assistant' !important;
                font-size: 34px;
                font-weight: 500;
                line-height: 38px;
                letter-spacing: 0em;
                margin: 0 auto;
                display: flex;
                text-align: center;
                justify-content: center;
            
                color: #646464;
               
            
                }
                .text4-welcome{
                    font-family: 'Assistant' !important;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 38px;
                    letter-spacing: 0em;
                    margin: 0 auto;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                
                    color: #646464;
                   
                    
                    
                
                    }       .text5-welcome{
                        font-family: 'Assistant';
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 27px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: #363636;
        
                        
                        
                    
                        }
                        .text6-welcome{
                            font-family: 'Assistant' !important;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #6D6D6D;
        
                            
                            
                            
                        
                            }
                .event1{
                    width: 100px;
                    height: 100px;
                }
            
        
            .texting{
                margin-top: 20px;
                margin-bottom: 30px;
                display: flex;
               
                text-align: center;
                position: relative;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            .texting2{
            
                margin-top: 100px;
                margin-bottom: 3vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            .texting3{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0px 40px;
            flex-wrap: wrap;
            width: 80%;
            margin: 0 auto;
            }
            .firstevent{
                display: flex;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 236px;
                height: 251px;
                flex-basis: 100%;
        
            }
          
    }